[defaults]
inventory = ./inventory
remote_user = rodolfo
ask_pass = false
interpreter_python=/usr/bin/python3.9

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

